<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<style>
    body{
        background-color: #88d2b6;
    }
</style>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>

    <form th:action="@{/comanda/save}" method="post" th:object="${comanda}"
        style="max-width: 1000px; margin: 0 auto; ">
        <input type="hidden" th:field="*{idComanda}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
               <label class="col-sm-4 col-form-label">Name Of Comanda:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name_c}" class="form-control" required minlength="3" maxlength="50"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Logo Of Comanda:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{logo}" class="form-control" required minlength="4" maxlength="50"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Country Of Comanda:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{country1}" class="form-control" required minlength="3" maxlength="50"/>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>

    </form>

</div>
<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{/comanda}]]";
    }
</script>
</body>
</html>